.Navwrapper{
    width: 100%;
    height: 120px;
    position: fixed;
    z-index: 10;
}
.navbar{
   display: flex;
   justify-content:space-between;
   background-color: #E4E5E8;
}
a{
    text-decoration: none;
    color: gray;
}
a:hover{
    color: #5542f6;
}
.Navbar_links{
    padding: 1vw;
    padding-left: 10vw;
    
  li{
  display: flex;
  gap: 1.5vw;
  color: #E4E5E8;
  }
 
}
.details{
    padding: 1vw 3vw;
}
.downpart{
    display: flex;
    justify-content:space-between;
    background-color: white;
}
.search{
    display: flex;
    padding: 1vw;
    padding-left: 10vw;
    gap: 3vw;
}
.group {
   
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    width: 28vw;
   
   }
   
   .input {
    font-size: 1.2vw;
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 1.3vw 1vw;
    padding-left: 3vw;
    border: .5px solid gray;
    border-radius: 8px;
    outline: none;
   
    color: #0d0c22;
  
   }
   
   .input::placeholder {
   color: gray;
    
   
   }
  
   
   .icon {
    position: absolute;
    left: 1rem;
   font-size: 1.5vw;
  
   }
.signin{
  
    padding: 1vw 3vw;
    display: flex;
    gap: 1vw;
    button{
        cursor: pointer;
        color: #5542f6;
        background-color: white;
        border: .5px solid gray;
        border-radius: 5px;
       width: 7vw;
       font-size: 1.2vw;
    }
}


@media (max-width: 900px) {
.navbar{
    .Navbar_links{
        padding: 1.5vw;
        padding-left: 10vw;
      
      li{
       font-size: 1.5vw;
      color: #E4E5E8;
      }
     
    }
    .details{
        font-size: 1.5vw;
        padding: 1.5vw 3vw;
        display: flex;
        gap: 2vw;
        
    
    }
}
.search{
    font-size: 1vw;
    display: flex;
    padding: 1vw;
    padding-left: 10vw;
    gap: 3vw;

    h1{
        padding-top: .5vw;
    }

    .group {
        
        .icon {
            position: absolute;
           font-size: 1.5vw;
          
           }
           .input{
            padding-left: 4.5vw;
            height: 30px;
           }
       
       }
}
.signin{ 
    padding: 1.1vw 3vw;
    display: flex;
    gap: 1vw;
    button{
        cursor: pointer;
        color: #5542f6;
        background-color: white;
        border: .5px solid gray;
        border-radius: 5px;
        width: 7vw;
       font-size: 1.2vw;
    }
}

}

@media (max-width: 720px) {
    .navbar{
        .Navbar_links{
            padding: 1.5vw;
            padding-left: 10vw;
          
          li{
           font-size: 1.4vw;
          color: #E4E5E8;
          }
         
        }
        .details{
            font-size: 1.4vw;
            padding: 1vw 2vw;
            display: flex;
            gap: 2vw;
            
        
        }
    }
    .search{
        font-size: 1vw;
        display: flex;
        padding: 1.vw;
        padding-left: 10vw;
        gap: 3vw;
    
        h1{
            padding-top: .5vw;
        }
    
        .group {
            
            .icon {
                position: absolute;
               font-size: 1.5vw;
              
               }
               .input{
                padding-left: 4.5vw;
                height: 25px;
               }
           
           }
    }
    .signin{ 
        padding: 1.2vw 3vw;
        display: flex;
        gap: 1vw;
        button{
            cursor: pointer;
            color: #5542f6;
            background-color: white;
            border: .5px solid gray;
            border-radius: 5px;
            width: 7vw;
            font-size: 1.2vw;
        }
    }
    
    }
 @media (max-width: 480px) {
        .navbar{
            .Navbar_links{
                padding: 1.5vw;
                padding-left: 10vw;
              
              li{
               font-size: 1.4vw;
              color: #E4E5E8;
              }
             
            }
            .details{
                font-size: 1.4vw;
                padding: 1vw 2vw;
                display: flex;
                gap: 2vw;
                
            
            }
        }
        .search{
            font-size: 1vw;
            display: flex;
            padding: 1.vw;
            padding-left: 10vw;
            gap: 3vw;
        
            h1{
                padding-top: .5vw;
            }
        
            .group {
                
                .icon {
                    position: absolute;
                   font-size: 1.5vw;
                  
                   }
                   .input{
                    padding-left: 5.5vw;
                    height: 18px;
                   }
               
               }
        }
        .signin{ 
            padding: 1.3vw 3vw;
            display: flex;
            gap: 1vw;
            button{
                cursor: pointer;
                color: #5542f6;
                background-color: white;
                border: .5px solid gray;
                border-radius: 5px;
                width: 7vw;
                font-size: 1.2vw;
            }
        }
        
        }

@media (max-width: 390px) {
            .navbar{
               
                .Navbar_links{
                    padding: 2vw;
                    padding-left: 10vw;
                  
                  li{
                   font-size: 2vw;
                  color: #E4E5E8;
                  gap: 2.5vw;
                  }
                 
                }
                .details{
                    font-size: 1.7vw;
                    padding: 2vw 1vw;
                    display: flex;
                    gap: 2vw;
                    
                }
            }
          
            .search{
                font-size: 1vw;
                display: flex;
                padding: 1.5vw;
                padding-left: 10vw;
                gap: 3vw;
            
                h1{
                    padding-top: .5vw;
                }
            
                .group {
   
                   
                    .icon {
                        position: relative;                     
                        font-size: 2vw; 
                      
                       }
                       .input{
                        font-size: 1.3vw;
                        height: 12px;
                        border-radius: 3px;
                        background-color: white;
                       }
                   
                   }
            }
            .signin{ 
             
                padding: 1.4vw .7vw;
                display: flex;
                gap: 1vw;
                button{
                    cursor: pointer;
                    color: #5542f6;
                    background-color: white;
                    border: .5px solid gray;
                    border-radius: 5px;
                    width: 8vw;
                    font-size: 1.1vw;
                }
            }
            
            }